.header {
  background-color: black;
  opacity: 0.8;
  padding: 10px;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
}

.ul a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
